## Import required libraries

In [1]:
import pandas as pd
import numpy as np

## Simulating file paths and Load all CSV files into a DataFrame list

In [2]:

files = [
    "Australia_Wine_Stats.csv", "Chile_Wine_Stats.csv", "France_Wine_Stats.csv",
    "Italy_Wine_Stats.csv", "New Zealand_Wine_Stats.csv", "Portugal_Wine_Stats.csv",
    "Spain_Wine_Stats.csv", "USA_Wine_Stats.csv"
]

# Load all CSV files into a DataFrame
dataframes = [pd.read_csv(file) for file in files]   

#  Concatenate all data into a single DataFrame
wine_df = pd.concat(dataframes, ignore_index=True)

## Examine structure and data types

In [3]:
# Examine structure and data types
print(wine_df.info())
print(wine_df.describe())

#  Remove duplicate 
wine_df.drop_duplicates(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5145 non-null   int64
 1   Name               5145 non-null   object
 2   Rating             5145 non-null   float64
 3   Number of Ratings  5145 non-null   int64
 4   Price              5145 non-null   float64
 5   Region             5145 non-null   object
 6   Winery             5142 non-null   object
 7   Wine style         4624 non-null   object
 8   Alcohol content    5145 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      5145 non-null   object
 11  Bold               5145 non-null   float64
 12  Tannin             5145 non-null   float64
 13  Sweet              5145 non-null   float64
 14  Acidic             5145 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 603.1+ KB
None
        Unnamed: 0       Rating  Number of Ratings        Price  \
count  5145.000000  5145.000000        5145.000000  5145.000000
mean    503.271914     4.000292         601.032653    27.424618
std     406.492427     0.157726        2725.500208    10.645818
min       0.000000     3.700000          25.000000     6.500000
25%     164.000000     3.900000          73.000000    19.980000
50%     377.000000     4.000000         189.000000    25.990000
75%     790.000000     4.100000         483.000000    34.000000
max    1436.000000     4.600000      159937.000000   155.000000

       Alcohol content         Bold       Tannin        Sweet       Acidic
count      5145.000000  5145.000000  5145.000000  5145.000000  5145.000000
mean         13.794363    57.990384    46.293535    12.259602    54.096125
std           1.242644    19.081310    11.092394    12.306948    14.463969
min           5.000000     0.060000     1.400000     0.010000     7.230000
25%          13.500000    45.330000    46.295270     6.230000    44.700000
50%          13.794543    61.730000    46.295270     9.050000    53.555000
75%          14.000000    69.620000    48.610000    13.200000    63.550000
max          20.500000    85.000000    85.000000    85.000000    85.000000

## Handle null records

In [4]:
#  Handle null records
print("Null counts before removal:")
print(wine_df.isnull().sum())
wine_df.dropna(inplace=True)
print("Null counts after removal:")
print(wine_df.isnull().sum())

Null counts before removal:
Unnamed: 0              0
Name                    0
Rating                  0
Number of Ratings       0
Price                   0
Region                  0
Winery                  3
Wine style            521
Alcohol content         0
Grapes               2168
Food pairings           0
Bold                    0
Tannin                  0
Sweet                   0
Acidic                  0
dtype: int64
Null counts after removal:
Unnamed: 0           0
Name                 0
Rating               0
Number of Ratings    0
Price                0
Region               0
Winery               0
Wine style           0
Alcohol content      0
Grapes               0
Food pairings        0
Bold                 0
Tannin               0
Sweet                0
Acidic               0
dtype: int64

## Outlier handling

In [5]:
#  numerical columns
numerical_cols = ['Rating', 'Price', 'Alcohol content', 'Bold', 'Tannin', 'Sweet', 'Acidic']
for col in numerical_cols:
    Q1 = wine_df[col].quantile(0.25)
    Q3 = wine_df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    wine_df = wine_df[(wine_df[col] >= lower_bound) & (wine_df[col] <= upper_bound)]

#  `Country` and `Country_region` from `Region`
wine_df['Country'] = wine_df['Region'].apply(lambda x: x.split('/')[0])
wine_df['Country_region'] = wine_df['Region'].apply(lambda x: '/'.join(x.split('/')[1:]))

## Transform

In [6]:
#  Transform 
food_items = [
    'Beef', 'Pasta', 'Lamb', 'Poultry', 'Cheese', 'Fish', 'Seafood',
    'Vegetables', 'Salad', 'Pork', 'Sushi', 'Pizza', 'Fruits', 'Spicy',
    'Dessert', 'Barbecue', 'Snacks', 'Rice', 'Burgers', 'Egg', 'Bread'
]
for food in food_items:
    wine_df[food] = wine_df['Food pairings'].apply(lambda x: food in x if isinstance(x, list) else False)

#  Column Removal
columns_to_drop = ['Winery']  # Example
wine_df.drop(columns=columns_to_drop, inplace=True)